body{

    margin:50px;
}
.wd-search-bar{
    width: 98%;
    height: 40px;
    border : #e9ebee solid 1px;
    color: #90979d;
    margin-bottom: 7px;
    border-radius: 50px;
    padding-left: 50px;
    margin-left: -20px;
}
.fa-cog{
    padding-top:5px;
}


.wd-image{
    border-radius: 10px;
    height:70px;
    width:85px;
    position:relative;
    right:0px;

    /*padding-left: 20px;*/
}
.wd-textid{
    font-size: 12px;
}

.wd-follow-btn-text{
    color:white;
    font-size: 12px;
}

.wd-profile{
    height: 40px;
    width:40px;
    border-radius: 50px;
}

.wd-content-border{
    border-left: #e9ebee solid 1px;
    border-right: #e9ebee solid 1px;
    border-bottom: #e9ebee solid 1px;
    padding-left : 10px;
    padding-top:10px;
    padding-bottom:10px;
}
.fa-check-circle{
    padding-top:3px;
    margin-left:3px;
    margin-right:3px;

}
.wd-bold-wtf{
    font-weight: bold;
    color:black;
    font-size: 12px;
    white-space: nowrap;
}
.wd-image-content{
    position:relative;
}
.wd-big-text{
    font-size: 30px;
    font-weight: bold;
    color:white;
    position:absolute;
    bottom: 8px;
    left:10px;
}
.wd-bold{
    font-weight: bold;
    color:black;
    font-size: 12px;
}
.wd-mt-4{
    margin-top:4px;
}

.wd-topic{
    font-family: arial;
    font-size: 12px;
    color: #989ea3;
    font-weight: bold;
}

.fa-search{
    position: relative;
    left:15px


}
.nav-item{
    font-family: arial;
    font-size: 12px;
}
.wd-inline{
    display: inline-flex;
}
.list-group-item{
    font-family: arial;
    font-size: 15px;

    /*margin-left: 3px;*/
}
.wd-nav-text{
    margin-bottom: -20px;
}

.wd-pt-4{
    padding-top:4px;
}
.wd-margin-right-3{
     margin-right: 10px;
}

.list-group{
    margin-bottom: 10px;
}
.nav{
    margin-bottom: 7px;
}
.btn-primary{
    width: 100%;
    border-radius: 50px;
}
/*.fa-search{*/
/*    position:absolute;*/
/*    top:29px;*/
/*    left:30px;*/
/*    height:30px;*/
/*    color:#5A6067;*/
/*}*/